@model IEnumerable<SistemaVentas365.Models.Medida>


@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";


}


<h2 style="text-align:center">Busqueda por Nombre</h2>
<a asp-action="ListPaMedidas" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Volver Atrás
</a>


<form asp-action="Filtrar" asp-controller="Medidas">
    <em>Nombre del Medida</em>
    @Html.TextBox("nombre", "")
    <button>Buscar</button>

</form>
<br />

<table class="table-futuristic bg-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idmedida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCorto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idmedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCorto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Idmedida }, new { @class = "btn btn-warning", @role = "button" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Idmedida }, new { @class = "btn btn-danger", @role = "button", @id = "eliminar" })
            </td>
        </tr>
}
    </tbody>
</table>
